<form [formGroup]="temperatureForm">
    <input type="text" placeholder="Insert Temperature" formControlName="temperature">
    <button (click)="insert()">Insert Temperature</button>
</form><br>


<div *ngIf="tempArr?.length">
    <ul>
        <ng-container>Inserted Temperature List: </ng-container>
        <li *ngFor="let temp of tempArr"> {{temp}}</li>
    </ul>
    <span>Lowest Temperature:{{maxTemp}}</span><br>
    <span>Highest Temperature:{{minTemp}}</span><br>
    <span>Mean of all Temperature:{{mean}}</span><br>
    <span>Mode of Temperature:{{mode}}</span>
</div>